@mixin day {
  float: left;
  height: 34px;
  width: 34px;
  color: #000;
  padding-top: 6px;
  font-size: 16px;
  font-weight: 400;
  margin: 1px;
}
.day {
  @include day;
}
.no-day {
  @include day;
}