$sizeTile : 30px;
@mixin day {
  float: left;
  height: $sizeTile;
  width: $sizeTile;
  color: #000;
  line-height: $sizeTile;
  font-size: 13px;
  font-weight: 400;
  margin: 1px;
}
#activeDaysCalendar{
  .day {
    @include day;
  }
  .no-day {
    @include day;
  }
}
