.today {
  background-color: #4FC3F7;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
}
.note {
  cursor: pointer;
  background-color: #F7CA18;
  border-radius: 50%;
  color: #000000;
  font-weight: 700;
}
.clear{
  clear: both;
}