.today {
  background-color: #448AFF;
  border-radius: 50%;
  color: #000000;
  font-weight: 500;
}
.note {
  cursor: pointer;
  background-color: #7C4DFF;
  border-radius: 50%;
  color: #000000;
  font-weight: 500;
}
.clear{
  clear: both;
}