#activeDaysCalendar{
  .calendarContainer{
    padding: 20px;
    color: #000;
    text-align: center;
    min-height: 310px;
    background-color: #FFF;
    border-radius: 0px 0px 10px 10px;

    .fullCalendar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .dayContainer{
    overflow: hidden;
  }
}
