.calendarContainer{
  display: inline-block;
  padding: 20px;
  height: 350px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0px;
}
.dayContainer{
  overflow: hidden;
}