#activeDaysCalendar{
  .changeMonth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    max-width: 224px;
    margin: 0 auto;
  }
  #actualDate {
    width: 60%;
    display: inline-block;
    font-weight: 600;
  }
  .arrow {
    border: none;
    background: none;
    cursor: pointer;
    color: #000;
    font-size: 1em;
    font-weight: 700;

    svg {
      fill: #000;
      margin-top: 50%;
    }
  }
  .arrow:focus {
    outline: none !important;
    background: transparent;
  }
}
