.todoDay {
  width: 350px;
  min-height: 250px;
  padding: 20px;
  font-size: 2em;
  background-color: #4ecdc4;
  border-radius: 10px 10px 0 0;
  color: #FFFFFF;

    h3 {
        letter-spacing: 2px;
        font-size: 30px;
    }

    h4 {
        letter-spacing: 2px;
    }

    p {
        color: #FFFFFF;
        font-size: 24px;
        padding-bottom: 5px;
    }

    #todayNote {
        font-size: 15px;
        white-space: pre-line;
    }  
}

.input-field label, .input-field input {
  color: #fff;
  border-bottom-color: #fff;
}

input[type=text]:focus:not([readonly]),input[type=text]:focus:not([readonly]) + label {
   color: #fff;
  border-bottom-color: #fff;
}

.filled-in + label {
  color: #fff;
}