.calendarContainer{
  padding: 20px;
  color: #FFF;
  width: 350px;
  min-height: 350px;
  text-align: center;
  background-color: #263238;
  border-radius: 0px 0px 10px 10px;

  .fullCalendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.dayContainer{
  overflow: hidden;
}